AUTH_API_REGION=us-central1
AUTH_API_BASE_URL=https://us-central1-mitra-e870d.cloudfunctions.net/authApi
WHATSAPP_DEMO_MODE=true
WHATSAPP_DEMO_NUMBER=+916238049108
WHATSAPP_DEMO_OTP=567456

FIREBASE_PROJECT_ID=mitra-e870d
FIREBASE_MESSAGING_SENDER_ID=965792184735
FIREBASE_STORAGE_BUCKET=mitra-e870d.firebasestorage.app

FIREBASE_WEB_API_KEY=
FIREBASE_WEB_APP_ID=
FIREBASE_WEB_AUTH_DOMAIN=mitra-e870d.firebaseapp.com
FIREBASE_WEB_MEASUREMENT_ID=

FIREBASE_ANDROID_API_KEY=
FIREBASE_ANDROID_APP_ID=

FIREBASE_IOS_API_KEY=
FIREBASE_IOS_APP_ID=
FIREBASE_IOS_BUNDLE_ID=com.example.mitra

FIREBASE_MACOS_API_KEY=
FIREBASE_MACOS_APP_ID=
FIREBASE_MACOS_BUNDLE_ID=com.example.mitra

FIREBASE_WINDOWS_API_KEY=
FIREBASE_WINDOWS_APP_ID=
FIREBASE_WINDOWS_AUTH_DOMAIN=mitra-e870d.firebaseapp.com
FIREBASE_WINDOWS_MEASUREMENT_ID=
